// Global variables
@img-root: 'http://localhost:8000/img';
//@img-root: 'http://apps.npr.org/she-works/img';

.permalink-page {
    #nav, header, #project-form, .modal-bg, footer, .caption { display: none; }
    #container { max-width: none; }
    #posts {
        padding: 0;
    
        .post { 
            max-width: none; margin: 0;
        
            .media img { max-height: none; width: 100%; height: auto; }
            .wrap { padding: 0; border: none; -webkit-box-shadow: none; box-shadow: none; }
            .for-print { 
                border-top: 1px solid #999;
                padding-top: 11px;
                display: block;
        
                p {
                    font: 11px/1.3 Arial, Helvetica, sans-serif;
                    margin-right: 106px;
                    color: #999;
                    
                    strong { font-weight: bold; }
                }
                .npr-logo { float: right; }
                &:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
            }
        }
    }
}