<div class="hdr">
    <h3><span></span>Submit: What's your advice?</h3>
    <div class="close">X</div>
</div>

<div class="tumblr-form">
    <div style="font-family: CrossStitch;">.</div>
    <form id="tumblr-form" method="post" enctype="multipart/form-data" action="http://{{ SERVERS[0] }}/{{ PROJECT_SLUG }}/">
        <ol>
            <li class="form-intro">
                <!-- <h2>This project has now concluded. Thank you for your submissions.</h2> -->
                <p>This is some text for the form kicker.</p>
                </li>
            <li class="form-photo">
                <div id="preview" style="width: 600px; height:300px;"></div>
                <input type="hidden" name="image">
            </li>
            <li class="form-customize">
                <div class="form-color">
                    <h3>Pick a color</h3>
                    <input type="radio" name="color" id="color-teal" value="teal" checked="checked" />
                        <label class="teal active" for="color-teal">Teal</label>
                    <input type="radio" name="color" id="color-red" value="red" />
                        <label class="red" for="color-red">Red</label>
                    <input type="radio" name="color" id="color-blue" value="blue" />
                        <label class="blue" for="color-blue">Blue</label>
                    <input type="radio" name="color" id="color-gray" value="gray" />
                        <label class="gray" for="color-gray">Gray</label>
                </div>
                
                <div class="form-typeface">
                    <h3>Pick a typeface</h3>
                    <input type="radio" name="typeface" id="type-roboto" value="Roboto Condensed" checked="checked" />
                        <label class="roboto active" for="type-roboto">Advice</label>
                    <input type="radio" name="typeface" id="type-snippet" value="Snippet" />
                        <label class="snippet" for="type-snippet">Advice</label>
                    <input type="radio" name="typeface" id="type-noto" value="Noto Serif" />
                        <label class="noto" for="type-noto">Advice</label>
                    <input type="radio" name="typeface" id="type-quicksand" value="Quicksand" />
                        <label class="quicksand" for="type-quicksand">Advice</label>
                </div>
                
                <div class="form-ornament">
                    <h3>Pick an ornament</h3>
                    <input type="radio" name="ornament" id="ornament-none" value="no-border" checked="checked" />
                        <label class="no-border active" for="ornament-none">No border</label>
                    <input type="radio" name="ornament" id="ornament-flower" value="flower-corner" />
                        <label class="flower-corner" for="ornament-flower">Flower Corner</label>
                    <input type="radio" name="ornament" id="ornament-swash" value="swash-border" />
                        <label class="swash-border" for="ornament-swash">Swash Border</label>
                    <input type="radio" name="ornament" id="ornament-triangle" value="triangle-border" />
                        <label class="triangle-border" for="ornament-triangle">Triangle Border</label>
                </div>
            </li>
            <li class="form=message">
                <label for="string">
                    <strong>SHARE:</strong><br />What's your motivational message for the workplace?
                </label>
                <textarea name="string"></textarea>
            </li>
            <li class="form-message">
                <label for="message" class="instructions">
                        Say more about this?
                </label>
                <textarea name="message"></textarea>
            </li>
            <li class="form-signature">
            <label for="signed_name">From,</label>
                <input type="text" name="signed_name" placeholder="Your Initials" class="signed-name"></input>
                from
                <input type="text" name="location" placeholder="Your City And State" class="signed-location"></input>
            </li>

            <li class="form-submit">
                <span class="gentle-reminder" style="display: none;">Please add a photo, an explanation, your initials and where you&rsquo;re from. Thanks!</span>
                <button type="submit" class="btn">Send</button>
            </li>
        </ol>
        <div class="legal">By submitting an image, you certify that you created, or have ownership of the work. You retain the copyright in the image, but grant to NPR a non-exclusive, perpetual right to use the image, without payment and without further notice, on NPR's website, and in any other current or future NPR services (including websites, mobile services, applications and publications, anywhere in the world that NPR  may offer these services). This right includes the right to copy, transmit, display, distribute, create derivative works of, and/or adapt the image. NPR also has the right to distribute and/or sublicense the image to its Member Stations, end users and other third parties in connection with NPR's distribution and/or sublicensing of related content. You grant NPR the right to use your name in a credit for the image and you agree that you have provided NPR accurate credit information.</div>
    </form>
    <!--[if IE]>
    <script type="text/javascript">
        /*
        * Handle simple form validation for browsers that do not support
        * the HTML5 "required" attribute on form elements.
        */
        $('#tumblr-form').submit(function(event){
           var $this = $(this);
           var inputs = [];
           inputs.push($this.find('textarea').text());
           inputs.push($this.find("input[type='file']").attr('value'));
           inputs.push($this.find("input[name='signed_name']").attr('value'));
           inputs.push($this.find("input[name='location']").attr('value'));
           _.each(inputs, function(input){
               if (input === '') {
                   event.preventDefault();
                   $this.find('span.gentle-reminder').show();
               }
           });
        });
    </script>
    <![endif]-->

    <script type="text/javascript">
        $(document).ready(function() {
            var $preview = $('#preview');
            var preview_div = $preview[0];

            if (!Raphael.svg) {
                alert('Your browser doesn\'t support SVG, so this will be broken.');
            }

            var preview = new Raphael(preview_div, $preview.width(), $preview.height());
    
            function render(text) {
                var width = $preview.width();
                var height = $preview.height();
                preview.clear();

                var bg = preview.rect(0, 0, width, height);
                bg.attr({ fill: '#000', 'stroke-width': 0 });

                var lines = preview.text(width / 2, height / 2, text);
                lines.attr({ fill: '#fff', 'font-family': 'CrossStitch', 'font-size': '64', 'text-anchor': 'middle' }); 
            }

            render('');

            $('textarea[name="string"]').keyup(function(e) {
                render($(this).val());    
            });

            $('#tumblr-form').submit(function(e) {
                var btn = $('.form-submit button');

                btn.text('Sending, please wait...');
                // btn.attr('disabled', 'disabled');

                $('input[name="image"]').val($preview.html());

                return true;
            });

            if (/iP(hone|od|ad)/.test(navigator.platform)) {
                var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
                var version = parseInt(v[1]);

                if (version < 6) {
                    $('.tumblr-form').html('<p>Sorry, iOS versions older than 6 are not supported.');
                }
            }


            var $customize = $('.form-customize');
            var $customize_radio = $customize.find('input');
            var $customize_labels = $customize.find('label');
            console.log($customize_radio.length);
            $customize_radio.click(function() {
                console.log(this);
                $(this).parents('div').children('label').removeClass('active');
                $(this).next('label').addClass('active');
                console.log($(this).parents('div'));
            });
        });
    </script>
</div>
