<div class="hdr">
    <h3><span></span>Submit: What's your advice?</h3>
    <div class="close">X</div>
</div>

<div class="tumblr-form">
    <form id="tumblr-form" method="post" enctype="multipart/form-data" action="http://{{ SERVERS[0] }}/{{ PROJECT_SLUG }}/">
        <ol>
            <li class="form-intro">
                <!-- <h2>This project has now concluded. Thank you for your submissions.</h2> -->
                <p>This is some text for the form kicker.</p>
                </li>
            <li class="form-photo">
                <div id="preview" style="width: 640px; height: 480px;"></div>
                <input type="hidden" name="image">
            </li>
            <li class="form-customize">
                <label for="color">Pick a color:</label>
                <input type="radio" name="color" value="teal" /><span class="teal">Teal</span>
                <input type="radio" name="color" value="red" /><span class="red">Red</span>
                <input type="radio" name="color" value="blue" /><span class="blue">Blue</span>
                <input type="radio" name="color" value="gray" /><span class="gray">Gray</span>
                
                <label for="typeface">Pick a typeface:</label>
                <input type="radio" name="typeface" value="Roboto Condensed" /><span class="roboto">Advice</span>
                <input type="radio" name="typeface" value="Snippet" /><span class="snippet">Advice</span>
                <input type="radio" name="typeface" value="Noto Serif" /><span class="noto">Advice</span>
                <input type="radio" name="typeface" value="Quicksand" /><span class="quicksand">Advice</span>
                
                <label for="ornament">Pick an ornament:</label>
                <input type="radio" name="color" value="flower-corner" /><span class="flower-corner">Flower Corner</span>
                <input type="radio" name="color" value="swash-border" /><span class="swash-border">Swash Border</span>
                <input type="radio" name="color" value="triangle-border" /><span class="triangle-border">Triangle Border</span>
            </li>
            <li class="form=message">
                <label for="string">
                    <strong>SHARE:</strong><br />What's your motivational message for the workplace?
                </label>
                <textarea name="string"></textarea>
            </li>
            <li class="form-message">
                <label for="message" class="instructions">
                        Say more about this?
                </label>
                <textarea name="message"></textarea>
            </li>
            <li class="form-signature">
            <label for="signed_name">From,</label>
                <input type="text" name="signed_name" placeholder="Your Initials" class="signed-name"></input>
                from
                <input type="text" name="location" placeholder="Your City And State" class="signed-location"></input>
            </li>

            <li class="form-submit">
                <span class="gentle-reminder" style="display: none;">Please add a photo, an explanation, your initials and where you&rsquo;re from. Thanks!</span>
                <button type="submit" class="btn">Send</button>
            </li>
        </ol>
        <div class="legal">By submitting an image, you certify that you created, or have ownership of the work. You retain the copyright in the image, but grant to NPR a non-exclusive, perpetual right to use the image, without payment and without further notice, on NPR's website, and in any other current or future NPR services (including websites, mobile services, applications and publications, anywhere in the world that NPR  may offer these services). This right includes the right to copy, transmit, display, distribute, create derivative works of, and/or adapt the image. NPR also has the right to distribute and/or sublicense the image to its Member Stations, end users and other third parties in connection with NPR's distribution and/or sublicensing of related content. You grant NPR the right to use your name in a credit for the image and you agree that you have provided NPR accurate credit information.</div>
    </form>
    <!--[if IE]>
    <script type="text/javascript">
        /*
        * Handle simple form validation for browsers that do not support
        * the HTML5 "required" attribute on form elements.
        */
        $('#tumblr-form').submit(function(event){
           var $this = $(this);
           var inputs = [];
           inputs.push($this.find('textarea').text());
           inputs.push($this.find("input[type='file']").attr('value'));
           inputs.push($this.find("input[name='signed_name']").attr('value'));
           inputs.push($this.find("input[name='location']").attr('value'));
           _.each(inputs, function(input){
               if (input === '') {
                   event.preventDefault();
                   $this.find('span.gentle-reminder').show();
               }
           });
        });
    </script>
    <![endif]-->

    <script type="text/javascript">
        var GRID_BG_COLOR = '#787878';
        var GRID_DOT_COLOR = '#444';
        var GLYPH_COLOR = '#fff';
        var FONT_NAME = 'Quicksand';
        var FONT_COLOR = '#fff';
        var FONT_SIZE = 120;
        var LINE_HEIGHT = 110;
        var X_DOTS = 64;
        var GLYPH_RECT_MARGIN = 1 / 8;

        var X_OFFSET = 16;
        var Y_OFFSET = 36;

        var GLYPH = [
            [0,0,0,0,0,0,0,0,0],
            [0,0,1,1,1,1,1,1,0],
            [0,1,0,1,0,0,0,0,0],
            [0,1,1,1,0,0,0,0,0],
            [0,1,0,0,1,0,0,0,0],
            [0,1,0,0,0,1,1,1,0],
            [0,1,0,0,0,1,1,1,0],
            [0,1,0,0,0,1,1,0,0],
            [0,0,0,0,0,0,0,0,0]
        ];

        $(document).ready(function() {
            var $preview = $('#preview');
            var preview_div = $preview[0];

            if (!Raphael.svg) {
                alert('Your browser doesn\'t support SVG, so this will be broken.');
            }

            var preview = new Raphael(preview_div, $preview.width(), $preview.height());
    
            var width = $preview.width();
            var height = $preview.height();
            var font = preview.getFont(FONT_NAME);
            var grid_bg = null;
            var grid_dots = [];
            var glyph_rects = [];
            var text_paths = [];

            function render_grid() {
                if (grid_bg) {
                    grid_bg.remove();
                }

                for (var i = 0; i < grid_dots.length; i++) {
                    grid_dots[i].remove();
                }

                grid_bg = preview.rect(0, 0, width, height);
                grid_bg.attr({ fill: GRID_BG_COLOR, 'stroke-width': 0 });

                var y_dots = X_DOTS * (height / width)
                var x_pitch = width / X_DOTS;
                var y_pitch = height / y_dots;
                
                grid_dots = [];

                for (var x = 1; x < X_DOTS; x++) {
                    for (var y = 1; y < y_dots; y++) {
                        grid_dots.push(preview.circle(x * x_pitch, y * y_pitch, 1).attr({ fill: GRID_DOT_COLOR, 'stroke-width': 0 }));
                    }
                }
            }

            function render_glyphs() {
                for (var i = 0; i < glyph_rects.length; i++) {
                    glyph_rects[i].remove();
                }

                glyph_rects = [];

                var y_dots = X_DOTS * (height / width)
                var x_pitch = width / X_DOTS;
                var y_pitch = height / y_dots;
                var x_margin = x_pitch * GLYPH_RECT_MARGIN;
                var y_margin = y_pitch * GLYPH_RECT_MARGIN;

                for (var y = 0; y < GLYPH.length; y++) {
                    for (var x = 0; x < GLYPH[0].length; x++) {
                        if (GLYPH[y][x]) {
                            var lx = ((x + 1) * x_pitch) + x_margin;
                            var ly = ((y + 1) * y_pitch) + y_margin;
                            var lw = x_pitch - (x_margin * 2);
                            var lh = y_pitch - (y_margin * 2);

                            glyph_rects.push(preview.rect(lx, ly, lw, lh).attr({ fill: GLYPH_COLOR, 'stroke-width': 0 }));
                        }
                    }
                }
            }
            
            function render_text(text) {
                for (var i = 0; i < text_paths.length; i++) {
                    text_paths[i].remove();
                }

                text_paths = [];

                var lines = text.split('\n');
                var lines_height = LINE_HEIGHT * lines.length;
                var base_width = (width / 2) - X_OFFSET;

                for (var i = 0; i < lines.length; i++) {
                    var line = lines[i];

                    var text_path = preview.print(0, 0, line, font, FONT_SIZE, 'middle');
                    
                    var bbox = text_path.getBBox();
                    text_path.translate(base_width - (bbox.width / 2), 0)
                    
                    text_paths.push(text_path);
                }

                var base_height = (height / 2) - (lines_height / 2 - Y_OFFSET)

                for (var i = 0; i < text_paths.length; i++) {
                    var text_path = text_paths[i];

                    text_path.translate(0, base_height + LINE_HEIGHT * i);
                    text_path.attr({ fill: FONT_COLOR }); 
                }
            }

            render_grid();
            render_glyphs();
            render_text('');

            $('textarea[name="string"]').keyup(function(e) {
                render_text($(this).val());    
            });

            $('#tumblr-form').submit(function(e) {
                var btn = $('.form-submit button');

                btn.text('Sending, please wait...');
                // btn.attr('disabled', 'disabled');

                $('input[name="image"]').val($preview.html());

                return true;
            });

            if (/iP(hone|od|ad)/.test(navigator.platform)) {
                var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
                var version = parseInt(v[1]);

                if (version < 6) {
                    $('.tumblr-form').html('<p>Sorry, iOS versions older than 6 are not supported.');
                }
            }
        });
    </script>
</div>
