<h3 id="modal-btn" class="btn"><span></span>Make A Sign!</h3>
<p>We&rsquo;re asking women to share their two cents &mdash;</p>
<p class="bullet">&bull; What&rsquo;s a good lesson you&rsquo;ve learned about using money?</p>
<p class="bullet">&bull; What&rsquo;s something smart you&rsquo;ve done with your money?</p>
<div class="rule"></div>
<p class="hidden-phone">This is part of a special series from NPR on the Changing Lives of Women. <a href="http://www.npr.org/series/177622347/the-changing-lives-of-women">Hear the stories &raquo;</a></p>
