<p class="signature-name">{{ name|default('Anonymous', True) }}{% if location %}, {{ location }}{% endif %}</p>
<p class="footnote">We want to hear from women: What’s your note to self – a piece of advice that’s helped you at work? Share your advice at <a href="http://she-works.tumblr.com">http://she-works.tumblr.com</a></p>

<a href="http://www.zazzle.com/api/create/at-238133727124364209?rf=238133727124364209&ax=Linkover&pd=149255011516906079&fwd=ProductPage&ed=false&tc=&ic=&t_image_iid={{ image_url_urlencoded }}">Zazzle my tote bag!</a>
