<html>
<head>
    <title>Error: {{ title }}</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        h1, h2 {
            margin: 15px 25px;
        }
        textarea {
            display:block;
            color: #444;
            font-size:16px;
            background-color:#eee;
            margin:10px;
            padding:10px;
            width:75%;
            min-height:500px;
            border:0;
            overflow: auto;
        }
    </style>
</head>
<body>
    <h1>Error!</h1>
    <p>Owch, an error! It's probably our fault.</p>
    <p>Wanna let us know what happened? Email us at <a href="mailto:nprapps@npr.org">nprapps@npr.org</a>.</p>
    <p>We've also been alerted.</p>
    <textarea>{{ message }}</textarea>
</body>
</html>